
main {
    flex: 1;
}

header {
    line-height: 56px;
    color: #fffffe;
    background-color: #eff0f3;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.header-text {
    line-height: 56px;
    text-align: left;
    color: #33272a;
    background-color: #eff0f3;
    font-size: 32px;
    font-weight: bold;
}

.left-0 {
    left: 0;
}

.right-0 {
    right: 0;
}

.items-center {
    align-items: center;
}

.flex {
    display: flex;
    padding: 5px;
}
    .flex > div {
        padding: 5px;
    }

        .flex > div:last-of-type {
            margin-left: auto;
            padding: 5px;
        }

.top-row {
    background-color: #faeee7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row ::deep a, .top-row ::deep .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
        text-decoration: underline;
    }

    .top-row ::deep a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row {
        justify-content: space-between;
    }

    .top-row ::deep a, .top-row ::deep .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth ::deep a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    header h1 {
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
    }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}