# exclude css
*.css linguist-vendored
wwwroot/lib/* linguist-vendored
wwwroot/css/bootstrap* linguist-vendored

# exclude javascript
wwwroot/js/lib/* linguist-vendored
node_modules/* linguist-vendored

# exclude html
*.html linguist-detectable=false

*.cs linguist-detectable=true
*.razor linguist-detectable=true

*.cs linguist-language=C#