# exclude css
*.css linguist-vendored
wwwroot/lib/* linguist-vendored
wwwroot/css/bootstrap* linguist-vendored

# exclude javascript
wwwroot/js/lib/* linguist-vendored
node_modules/* linguist-vendored

# exclude html
*.html linguist-vendored

*.cs linguist-detectable=true
*.csproj linguist-detectable=true
*.razor linguist-detectable=true

*.cs linguist-language=C#


# document
README.md linguist-documentation
LICENSE linguist-documentation