# exclude css
*.css linguist-vendored
SimpleTomlValidation/wwwroot/lib/* linguist-vendored
SimpleTomlValidation/wwwroot/css/bootstrap* linguist-vendored

# exclude javascript
SimpleTomlValidation/wwwroot/js/lib/* linguist-vendored

# exclude html
SimpleTomlValidation/wwwroot/* linguist-vendored
*.html linguist-vendored

*.cs linguist-detectable=true
*.csproj linguist-detectable=true
*.razor linguist-detectable=true

*.cs linguist-language=C#
*.razor linguist-language=C#

# document
README.md linguist-documentation
LICENSE linguist-documentation